<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Upload</title>
  </head>
  <body >
    <p>Welcome dear <%= user %>. Please choose a file to upload</p>
    <form action="/upload/file" enctype="multipart/form-data" method="post" >
      <label for="fileUpload" class="button expanded">File</label>
      <input type="file" id="fileUpload" name="video" class="show-for-sr" accept="video/mp4">
      <button class="button expanded">Send</button>
    </form>
    <p><a href="/candidates">Go to candidates list</a></p>


  </body>
</html>